.question{
    color: #fff;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 25rem;
    font-size: 30px;
    margin-left: 27rem;
}
.heading{
    color: #fff;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 20rem;
    font-size: 40px;
    margin-left: 40rem;

}

button{
    height: 40px;
    width: 80px;
    background-color: rgba(0, 153, 255, 1);
    border-radius: 5px;
    color: #fff;
    display: block;
    top: 0;
    left: 0;
    margin-top: 12rem;
}
