.question{
    color: #fff;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 25rem;
    font-size: 30px;
    margin-left: 27rem;
}
.heading{
    color: #fff;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 20rem;
    font-size: 40px;
    margin-left: 40rem;

}

